#DB params
#Use UNIX sockets
#You can also specify the hostname as POSTGRESQL_URI = "postgresql://localhost/federation"
POSTGRESQL_URI = "postgresql:///federation"

# Debugging info
DEBUG = True

#Flask Secret Key
SECRET_KEY = 'TheWorldNeedsMoreSocialMedicine'

# File containing the Access Control List and roles
ACL = 'etc/roles.cfg'

