[defaults]
forks=50
command_warnings=False
host_key_checking=False
callback_plugins   = ./ansible_plugin
bin_ansible_callbacks=True
log_path=./install.log

gathering=explicit
fact_caching=jsonfile
deprecation_warnings=False
interpreter_python=auto_legacy_silent
fact_caching_connection=./facts-cache

[inventory]
unparsed_is_failed=True

[ssh_connection]
scp_if_ssh=True
pipelining=True
ssh_args = -o ControlMaster=auto -o ControlPersist=3600s
